[submodule "parcial-1/codigo-en-clase-parcial-1"]
	path = parcial-1/codigo-en-clase-parcial-1
	url = https://github.com/bryaneduarr/codigo-en-clase-parcial-1
[submodule "parcial-1/tareas/QuizRapidoParcial1ProgramacionMovil1"]
	path = parcial-1/tareas/QuizRapidoParcial1ProgramacionMovil1
	url = https://github.com/bryaneduarr/QuizRapidoParcial1ProgramacionMovil1
[submodule "parcial-1/tareas/Quiz-Rapido-1.2"]
	path = parcial-1/tareas/Quiz-Rapido-1.2
	url = https://github.com/bryaneduarr/Quiz-Rapido-1.2
[submodule "parcial-1/tareas/codigoenclasekotlin"]
	path = parcial-1/tareas/codigoenclasekotlin
	url = https://github.com/bryaneduarr/Codigo-En-Clase-Kotlin-Parcial-1
[submodule "parcial-1/examen/PM1E1-0048-1064-0788"]
	path = parcial-1/examen/PM1E1-0048-1064-0788
	url = https://github.com/bryaneduarr/PM1E1-0048-1064-0788
[submodule "parcial-3/Proyecto_Final_Car_Wash"]
	path = parcial-3/Proyecto_Final_Car_Wash
	url = https://github.com/bryaneduarr/Proyecto-Final-Programacion-Movil-1-Car-Wash.git
[submodule "parcial-2/Programacion-Movil-1-Crud-Php-Parcial-2"]
	path = parcial-2/Programacion-Movil-1-Crud-Php-Parcial-2
	url = https://github.com/bryaneduarr/Programacion-Movil-1-Crud-Php-Parcial-2
[submodule "parcial-2/HTTP_Request_CRUD"]
	path = parcial-2/HTTP_Request_CRUD
	url = https://github.com/bryaneduarr/Android-HTTP-Request-CRUD.git
[submodule "parcial-2/tareas/Tomar_Video_Grupo_1_Tarea_2.1"]
	path = parcial-2/tareas/Tomar_Video_Grupo_1_Tarea_2.1
	url = https://github.com/bryaneduarr/Tomar_Video_Grupo_1_Tarea_2.1
[submodule "parcial-2/tareas/Request_Api_Grupo_1_Tarea_2.2"]
	path = parcial-2/tareas/Request_Api_Grupo_1_Tarea_2.2
	url = https://github.com/bryaneduarr/Request_Api_Grupo_1_Tarea_2.2
[submodule "parcial-2/tareas/List_View_Get_Http"]
	path = parcial-2/tareas/List_View_Get_Http
	url = https://github.com/bryaneduarr/List-View-Get-Http-Php.git
